* { 
    
    box-sizing: border-box; 

}

html, body {

    margin: 0;
    padding: 0;
    height: 100vh;
    
}

body {

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Roboto', sans-serif;

}

h1, p {

    margin: 6px 0 0 0;

}

.main-container {

    height: 100%;
    width: 60%;
    padding: 0 0;

}

.header-container {

    margin: 96px 0 80px 0;
    font-size: large;

}

.content-container {

    display: flex;

}


/* INPUTS */

.input-container {

    width: 50%;
    position: sticky;

}

.input-group {

    margin: 0 0 0 0;

}

.input-info {

    display: block;

}

#input-textarea {

    display: block;
    margin: 16px 0 0 0;
    width: 70%;
    max-width: 95%;
    max-height: 512px;

}

.button-group {

    margin: 16px 0 0 0;

}

#validate-button {

    margin-right: 12px;

}


/* OUTPUTS */


.output-container {

    width: 50%;
    height: 620px;
    overflow-y: auto;

}

.output-table {

    width: 100%;
    margin: 0 auto;
    border: medium solid black;
    border-collapse: collapse;
    text-align: center;

}

.output-table th:first-child,
.output-table td:first-child {

    width: 60%;

}

.output-table th:last-child,
.output-table td:last-child {

    width: 40%;

}

.output-table td,
.output-table th {


    padding: 4px;
    border: thin solid black;

}

.valid {

    color: green;

}

.not-valid {

    color: red;

}


@media only screen and (max-width: 1440px) {

    .main-container {

        width: 90%;
    
    }

}

@media only screen and (max-width: 768px) {

    .header-container {

        text-align: center;

    }

    .main-container {

        width: 90%;
    
    }

    .content-container {

        flex-direction: column;
        width: 100%;

    }

    .input-container {

        width: 100%;
        margin-bottom: 32px;

    }

    .output-container {

        width: 100%;

    }

}